# Django
SECRET_KEY=django-insecure-сюда-свой-ключ
DEBUG=True

# Email (для уведомлений – можно пока не заполнять, а использовать консольный бэкенд)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_USE_TLS=True