# Django
SECRET_KEY="django-insecure*************************"
DEBUG=False
ALLOWED_HOSTS=82.148.16.130

# Email (SMTP, пример для Gmail)
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="supporthunter67@gmail.com"
EMAIL_HOST_PASSWORD="**** **** **** ****"
DEFAULT_FROM_EMAIL="PriceHunter <noreply@pricehunter.ru>"
