<footer class="footer">
    <div class="footer-content">
        <div class="social-icons">
            <a href="https://vk.com/id558189182"><i class="fab fa-vk"></i></a>
            <a href="https://t.me/MiksiUGH"><i class="fab fa-telegram"></i></a>
            <a href="https://max.ru/u/f9LHodD0cOKLP2js9y98XC1THs6E4XYrkNJrV4DaiRLJ-Hv1Ofve0n_tA60"><i class="fas fa-bolt"></i></a>
        </div>
        <div class="footer-buttons">
            <button class="footer-btn" id="coopBtn"><i class="fas fa-handshake"></i> Для сотрудничества</button>
            <button class="footer-btn" id="reportBugBtn"><i class="fas fa-bug"></i> Сообщить об ошибке</button>
        </div>
    </div>
    <div class="copyright">© 2025 PriceHunter — экономьте с умом</div>
</footer>